:root {
  --white-background-color: #ffffff;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --text: #434455;
  --light: #f4f4fd;
  --accent: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white-background-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*-------------header-------------*/

.header-logo.link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.header-logo-span {
  color: var(--dark);
}

.menu.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.menu.link:hover,
.menu.link:focus,
.menu.link:active {
  color: var(--pressed-state);
}

.address.link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--text);
}
.address.link:hover,
.address.link:focus {
  color: var(--pressed-state);
}

/*-------------main-section-one-------------*/

.section-one {
  background-color: var(--dark);
}

.section-one-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-background-color);
}

.section-one-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--white-background-color);
  background-color: var(--primary-brand);
}
.section-one-button:hover,
.section-one-button:focus {
  background-color: var(--pressed-state);
}

/*-------------main-section-two-------------*/

.section-two-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.section-two-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*-------------main-section-three-------------*/

.section-three-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark);
}

/*-------------main-section-four-------------*/

.section-four {
  background-color: var(--light);
}

.section-four-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

.section-four-item {
  background-color: var(--white-background-color);
}

.section-four-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.section-four-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*-------------footer-------------*/

.footer {
  background-color: var(--dark);
}

.footer-logo.link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.footer-logo-span {
  color: var(--white-background-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
}

/*--------------portfolio-main-section-------------*/

.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--light);
  color: var(--primary-brand);
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--pressed-state);
  color: var(--white-background-color);
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/*--------------header-and-footer-in-index-------------*/
